@media all and (max-width: 1000px) {
    .extra-container {
        flex-direction: column;
        height: auto;
    }

    .extra-container .item-extra {
        width: 100%;
    }

    .extra-container .text-content {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .text-content h2 {
        font-size: 25px;
        line-height: 50px;
        margin-top: -20px
    }

    .text-content>ol {
        margin-top: -5px;
        color: #67647e;
        font-size: 0.9rem;
        text-align: justify;
        line-height: 25px;
        padding-left: 1.1em;
    }

    .btn-paket {
        display: flex;
        list-style: none;
        font-size: 15px;
        padding: 0px;
        justify-content: space-around;
    }

    .btn-paket li {
        width: 130px;
        margin: 5px;
        color: white;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        cursor: pointer;
    }
}

@media all and (max-width: 670px) {
    .extra1 .extra1-item {
        justify-content: center;
        margin: 1px
    }

    .extra1 .extra1-fitur {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 15px;
        justify-content: flex-start;
        white-space: nowrap;
    }

    .extra-container {
        flex-direction: column;
        height: auto;
    }

    .extra-container .item-extra {
        width: 100%;
    }

    .extra-container .text-content {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .text-content h2 {
        font-size: 25px;
        line-height: 50px;
        margin-top: -20px
    }

    .text-content>ol {
        margin-top: -5px;
        color: #67647e;
        font-size: 0.9rem;
        text-align: justify;
        line-height: 25px;
        padding-left: 1.1em;
    }

    .btn-paket {
        display: flex;
        list-style: none;
        font-size: 15px;
        padding: 0px;
        justify-content: space-around;
    }

    .btn-paket li {
        width: 130px;
        margin: 5px;
        color: white;
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        cursor: pointer;
    }

    .bodyutama-kiri {
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .bodyutama-kiri p {
        width: auto;
        text-align: justify;
        font-size: 18px;
        padding: 5px;
        z-index: 60;
    }

    .bodyutama-kiri h1 {
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #ffc529;
    }

    .bodyutama-kiri h2 {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 10px;
        color: #ffc529;
    }

    .bodyutama-kanan {
        width: 30%;
        margin: 0 auto;
    }

    .bodyutama-kanan img {
        width: 320px;
        height: 300px;
        top: 310px;
        right: 1px;
        position: absolute;
        object-fit: cover;
    }

    header .header {
        justify-content: space-between;
    }


    footer .container {
        flex-direction: column;
        justify-content: space-between;
    }


}


@media all and (min-width: 768px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}